:root{
     --branco-principal:#FFFFFF;
     --cinza-secundario:#C0C0C0;
     --botão-azul:#167BF7; 
     --cor-de-fundo:#00030C;
     --fonte--principal:"inter";
     --botao-azul-efeito:#63a8fd;
}
body{
    background-color:var(--cor-de-fundo);
    Color: var(--branco-principal); 
    font-family: var(--fonte--principal);
    font-size: 16px;
    font-weight: 400px;
}
*{
    margin:0px;
    padding:0px;
}
.principal  {
    background-image:url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}
.container{
    height:100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.container__botão{
    background-color: var(--botão-azul);
    border-radius: 5px;
    padding: 1em;
    text-decoration: none;
    color:var(--branco-principal);
    display:block;
    width: 500px;
    margin-bottom: 1em;
}
.botao_secundario {
    background-color:transparent;
    border: 2px solid var(--branco-principal);
    padding: 15px;
    text-decoration: none;
    margin-top: 20px;
}
.container__aviso  {
    font-size:12px;
    color: var(--cinza-secundario);
}
.container__titulo  {
    font-size: 28px;
    font-weight: 700px;
}
.container__imagem  {
    margin: 1em 0 2em 0;
}
.container__caixa   {
    margin: 0 6em;
}
.secundario__imagem {
    width: 80%;
}
.secundario {
    align-items: center;
    margin: 0 10em;
}
.descricao_titulo  {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}
.descricao_texto    {
    color: var(--cinza-secundario);
}
.secundario__botao  {
    display:inline-block;
    margin-top: 1em;
    width: 150px;
}
.container__descricao   {
    padding: 2em;
}
.dispositivos__lista    {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}
.dispositivos {
 text-align: center;
}
.dispositivos__titulo   {
    font-size: 48px;
    color: var(--branco-principal);
}
.lista__item {
    font-size: 32px;
    color: var(--branco-principal);
}
.rodape {
    margin-top: 12em;
    text-align: center;
}
.rodape__lista {
    display:flex;
    justify-content: center;
    list-style-type: none;
}
.lista__link > a{
    text-decoration: none;
    color: var(--branco-principal);
    padding-right: 30px;
    font-size: 16px;
}
.rodape__texto {
    color: var(--cinza-secundario);
    padding: 2em;
    font-size: 14px;
}
.rodape__logo {
    margin-bottom: 3em;
}
.lista__link a:hover {
    color: var(--botão-azul);
}
.lista__link a:active {
    color: purple;
}
.container__botão:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}
@media screen and (max-width: 768px) {
    .container {
        display: block;
        background-image: none;
    }
    .container__imagem {
        width: 50vw;
    }
    .container__caixa {
        margin: 2em 2em;
    }
    .secundario {
        margin: 0;
        text-align: center;
    }
    .secundario__imagem {
        width: 50vw;
    }
    .dispositivos__lista {
        display: block;
    }
    .rodape__lista {
        display: block;
    }
}
